<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.email %></h1>
    <p>
        Você esta recebendo os balanços dos associados.<br>
    </p>
    <p>Obrigado e tenha excelente dia!</p>
  </body>
</html>